.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nickname {
  font-weight: bold;
  font-size: 16px;
  text-align: start;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.message {
  overflow-wrap: break-word;
  width: 20%;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: start;
}

.message-foreign {
  align-self: start;
  background-color: #82adf7;
}

.userid {
  font-size: 8px;
  text-align: end;
}

.message-user {
  align-self: end;
  background-color: #82f792;
}

.chatrooms-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
}

.chatroom-button {
  margin-top: 5px;
  padding: 3px 20px;
}

.messages-block {
  padding: 0;
  margin: auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
